@keyframes hoverlist{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

*{
    margin: 0;
    padding: 0;
    transition: all 1s;
}



header{
    /* margin: 0.25vw 0; */
    position: sticky;
    top: 0;
    /* padding: 0.5vw; */
    z-index: 300;
    padding: 0.75vw 0.75vw;
    backdrop-filter: blur(25px);
    background-color: rgba(36, 54, 66, 0.4);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
header nav{
    transition: none;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: auto; */
    /* background-color: rgba(255, 255, 255, 0.2); */
    /* box-shadow:  0.5px 0.5px 10px black; */
    padding: 1vw 2vw;
    border-radius: 14px;
    
}
header nav ul{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#name{
    /* cursor: pointer; */
    color: white;
    font-size: 2.0vw;
    /* z-index: 303; */
}
#name:not(:hover){
    transition: all 0.25s;
}
#name:hover{
    color: #F2E5BF;
    transition: all 0.25s;
    transform: scale(1.1);

}

header nav ul li{
    list-style: none;
    /* color: white; */
    font-weight: 800;
    position: relative;
    transition: all 0.35s;
    
}
/* header nav ul li::after:not(:hover){
    animation: hoverlist 0.25s reverse;
} */
header nav ul li:hover{
    transform: scale(1.1);
}
header nav ul li a:hover{
    color: #F2E5BF;
}
header nav ul li:hover::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 3px;
    width: 100%;
    background-color: #F2E5BF;
    transition: none;
    animation: hoverlist 0.35s ease;
    
}

header nav ul li a{
    text-decoration: none;
    color: white;
    /* color: #F2E5BF; */
    /* color: black; */
    font-size: 1.5vw;
}