@media (width < 1300px){
    
    .loader{
        height: 90vh;
    }
    main{
        height: 80vh;
    }
}

@media (width < 1000px){
    .loader{
        height: 85vh;
    }
    /* main{
        height: 72vh;
    } */
}

@media  (width<815px) {
    body{
        height: 100vh;
    }
    .loader{
        height: 75vh;
    }
    main{
        height: 64vh;
    }
}

@media (width < 635px){
    .loader{
        height: 70vh;
    }
}

@media(width < 360px){
    .loader{
        height: 67vh;
    }
}

@media (width<205px){
    .loader{
        height: 65vh;
    }
}